/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

#main-layout{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
#content-div{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% auto;
    grid-template-columns: 30% auto;
    margin: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}   

#photo-div{
    /* width: 20%;
    float: left; */
    /* max-width: 250px; */
    -ms-grid-column-align: end;
        justify-self: end;
}

#profile-photo{
    /* border-radius: 1000px; */
    width: 100%;
}

#text-div{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-left: 3px solid #520a3a;
    /* width: 75%; */
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

#video-div{
    display: none;
}

@media screen and (max-width: 992px){
    #content-div{
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #photo-div{
        max-width: 400px;
    }
    #text-div{
        border: none;
        text-align: center;
        padding: 0;
        font-size: 1.2em;
    }




}