/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

#courses-div{
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    font-style: italic;
}


#courses-title{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: #520a3a;
    font-weight: bold;
    margin-bottom: 70px;
}

#top-section{
    display: flex;
}
#program{
    /* justify-self: center;
    align-self: center; */
}
#courses-div div:not(.courses-footer):not(#program):not(#top-section):not(#courses-title):not(#contact-big-form-outer):not(#final-big-message){
    margin-left: 20%;
    margin-right: 20%;
}

.courses-content{
    /* font-size: 20px; */
    list-style: none;
    padding-left: 10px;
}

.courses-subtitle{
    font-weight: bold;
    font-size: 27px;
    color: #520a3a;
    margin-bottom: 20px;
}

/* .courses-subtitle > li::before{

    width: 10px;
    height: 10px;
} */

.courses-footer{
    margin-top: 30px;
}
#map-div{
    margin-top: 50px;
    height: 500px;
}


#contact-big-form-outer{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
#contact-big-form-outer form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 500px;
}

#contact-big-form-outer label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: center;
    width: 80%;
}
#contact-big-form-outer input:not(#big-consent-checkbox){
    /* border-radius: 10px; */
    border: none;
    background-color: white;
    border-bottom: 1px solid #ccc;
    /* color: white; */
    align-self: center;
    width: 80%;
    
}
#contact-big-form-outer input:focus{
    outline: none;
}
#contact-big-form-outer textarea:focus{
    outline: none;
}
#contact-big-form-outer textarea{
    width: 80%;
    height: 150px;
    align-self: center;
    resize: none;
    border: 1px solid #ccc;
}

#consent {
    width: 90%;
    align-self: center;
    margin-top: 15px;
}
#consent label{
    font-size: small;
}
#consent-checkbox{
    align-self: start;
}

#contact-submit-outer{
    background-color: #f2df4a;
    /* margin: 100px auto; */
    margin-top: 30px;
    align-self: center;
    width: 40%;
    /* min-width: 250px; */
    /* max-width: 400px; */
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.35);
    margin-bottom: 15px;
}
#contact-submit{
    color: black;
    font-size: x-large;
}

#contact-big-form-outer.hidden{
    display: none;
}

#final-big-message{
    display: none;
}
#final-big-message.show{
    display: block;
    margin: 40px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #520a3a;
}


@media screen and (max-width: 992px){
    #top-section{
        flex-direction: column;
    }
}