/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

#action-div{
    background-color: #f2df4a;
    margin: 100px auto;
    width: 50%;
    min-width: 250px;
    max-width: 400px;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.35);
}
#action-link{
    text-decoration: none;
    color: black;
    font-size: 2em;
    width: 300px;
}
#botsection-con{
    margin: 10px auto;
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.botsection-div{
    /* height: max-content; */
    display: -ms-grid;
    display: grid; 
    grid-auto-flow: column;
    margin-bottom: 150px;
}


.botsection-img-div{
    width: 100%;
    max-width: 350px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.botsection-img{
    width: 100%;
}

.botsection-text-div{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 5px solid #520a3a;
    width: 50%;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    /* margin-top: auto;
    margin-bottom: auto; */
}

.botsection-img-div.second{
    -ms-grid-column: 2;
    grid-column: 2;
}
.botsection-text-div.second{
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 5px solid #520a3a;
    text-align: right;
}

#bg-con{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* color: white; */
    /* background-color: white; */
    z-index: -1;
    /* z-index: 10; */
}
#white{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 0;
}
#bg-img-con{
    z-index: -1;
    display: grid;
    grid-template-rows: 50% 50%;
}
.bg-img{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.bg-img > img{
    width: 100%;
    height: 100%;
}
#img2{
    justify-self: end;
}

@media screen and (max-width: 992px){
    #botsection-con{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
        -ms-flex-item-align: end;
            align-self: flex-end;
        width: 100%;
    }
    .botsection-div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 100px;
    }
    .botsection-img-div{
        margin-bottom: 10px;
    }
    .botsection-text-div, .botsection-text-div.second{
        border: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #action-div{
        width: 70%;
        max-width: 400px;
    }
    #action-link{
        font-size: 25px;
    }



}