#action-div{
    background-color: #f2df4a;
    margin: 100px auto;
    width: 400px;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.35);
}
#action-link{
    text-decoration: none;
    color: black;
    font-size: 40px;
    width: 300px;
}
#botsection-con{
    margin: 10px auto;
    width: 80%;
}

.botsection-div{
    /* height: max-content; */
    display: grid; 
    grid-auto-flow: column;
    margin-bottom: 50px;
}


.botsection-img-div{
    width: 100%;
    max-width: 300px;
    align-self: center;
}

.botsection-img{
    width: 100%;
}

.botsection-text-div{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 5px solid #520a3a;
    width: 50%;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    align-self: center;
    /* margin-top: auto;
    margin-bottom: auto; */
}

.botsection-img-div.second{
    grid-column: 2;
}
.botsection-text-div.second{
    grid-column: 1;
    justify-self: end;
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 5px solid #520a3a;
    text-align: right;
}